<div layout="row" layout-align="space-between">
    <img src="img/icons/Logo.png" ui-sref="app.landing" class="DemoHeader-logo"/>
    <div layout="row" layout-align="center stretch">
        <a ng-show="!vm.$auth.isAuthenticated()" class="DemoHeader-link md-subhead" href="#!/register">Inscription</a>
        <a ng-show="!vm.$auth.isAuthenticated()"   class="DemoHeader-link md-subhead" href="#!/login">Connexion</a>

        <a ng-show="vm.$auth.isAuthenticated()" class="DemoHeader-link md-subhead" href="#!/">Accueil</a>
        <a ng-show="vm.$auth.isAuthenticated()" class="DemoHeader-link md-subhead" href="#!/events/create">Créer un événement</a>
        <a ng-show="vm.$auth.isAuthenticated()" class="DemoHeader-link md-subhead" href="#!/users/self">Mon Profil</a>
        <a ng-show="vm.$auth.isAuthenticated()" class="DemoHeader-link md-subhead" ng-click="vm.disconnect()">Se Deconnecter</a>
    </div>
</div>