<div layout="row" layout-xs="column">
    <div flex="70" flex-xs="100">
        <!--Ligne gauche-->
        <md-card>
            <ng-map 
                    id="cover"
                    zoom="16"
                    center="[{{vm.place.geometry.location.lat}}, {{vm.place.geometry.location.lng}}]"
                    disable-default-u-i="true"
                    disable-double-click-zoom="true"
                    draggable="false">
                <marker position="{{vm.place.geometry.location.lat}},{{vm.place.geometry.location.lng}}" title="{{vm.place.name}}" animation="Animation.BOUNCE">
                </marker>
            </ng-map>
            <md-card-title>
                <date date="{{vm.event.dateDebut | date:'dd'}}"></date>
                <md-card-title-text>
                    <span class="md-headline">{{vm.event.title}}</span>
                    <span class="md-subhead">{{vm.category.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="start center">
              <md-button class="md-raised md-primary">Participer</md-button>
            </md-card-actions>
            <md-card-content>
              <p>
               {{vm.event.description}}
              </p>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <!--Ligne droite-->
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Organisateurs <em>({{vm.organizers.length}})</em></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="organizer in vm.organizers">
                      <img ng-src="img/icons/userIcon.png" class="md-avatar" alt="{{item.who}}" />
                      <div class="md-list-item-text" layout="column">
                        <h3>{{ organizer.firstName }} {{ organizer.name }}</h3>
                        <h4>{{ organizer.birthdate | date:'dd/MM/yyyy'}}</h4>
                        <p>{{ organizer.description }}</p>
                      </div>
                    </md-list-item>
                </md-list>
                <md-divider ></md-divider>
                <p id="organizerButtons">
                    <md-button class="md-raised md-primary">Ajouter des Organisateurs</md-button>
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>