<div layout="row" layout-xs="column">
    <div flex="70" flex-xs="100">
        <!--Ligne gauche-->
        <md-card>
            <ng-map 
                    id="cover"
                    zoom="16"
                    center="[{{vm.place.geometry.location.lat}}, {{vm.place.geometry.location.lng}}]"
                    disable-default-u-i="true"
                    disable-double-click-zoom="true"
                    draggable="false">
                <marker position="{{vm.place.geometry.location.lat}},{{vm.place.geometry.location.lng}}" title="{{vm.place.name}}" animation="Animation.BOUNCE">
                </marker>
            </ng-map>
            <md-card-title>
                <date date="{{vm.event.dateDebut}}"></date>
                <md-card-title-text>
                    <span class="md-headline">{{vm.event.title}}</span>
                    <span class="md-subhead">{{vm.category.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-if="vm.enoughTime() == true && !vm.userParticipation" ng-click="vm.addParticipation()" class="md-raised md-primary" md-colors="{background: 'green'}">Participer</md-button>
                <md-button ng-if="vm.enoughTime() == false && !vm.userParticipation" ng-click="vm.addParticipation()" class="md-raised md-primary" md-colors="{background: 'deep-orange'}">Participer (vous serez en retard)</md-button>
                <md-button ng-if="vm.userParticipation" ng-click="vm.deleteParticipation()" class="md-raised md-primary" md-colors="{background: 'red'}">Ne plus Participer</md-button>
                <md-button class="md-raised md-primary" md-colors="{background: 'blue'}">Inviter des Amis</md-button>
                <md-button class="md-raised md-primary" md-colors="{background: 'purple'}" ng-click="vm.visibleDirections = !vm.visibleDirections"><span ng-if="!vm.visibleDirections">Comment m'y rendre ?</span><span ng-if="vm.visibleDirections">Masquer l'itinéraire</span></md-button>
            </md-card-actions>
            <md-card-content>
                <div ng-show="vm.visibleDirections">
                    <h2>Itinéraire</h2>
                    <md-list class="md-dense" flex>
                        <md-list-item class="md-2-line" ng-repeat="step in vm.directions.legs[0].steps">
                            <img ng-src="img/icons/addressIcon.png" class="md-avatar" alt="Lieu" />
                            <div class="md-list-item-text">
                                <h3><span ng-bind-html="vm.$sce.trustAsHtml(step.html_instructions)"></span></h3>
                                <p> Distance : {{step.distance.text}} - Durée : {{step.duration.text}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <h2>Que dois-je savoir ?</h2>
                <div layout="row" layout-xs="column">
                    <div flex="50" flex-xs="100">
                        <md-list class="md-dense" flex>
                            <md-list-item class="md-2-line">
                              <img ng-src="img/icons/addressIcon.png" class="md-avatar" alt="Lieu" />
                              <div class="md-list-item-text">
                                <h3> {{vm.place.name}} </h3>
                                <p> Où nous retrouvons-nous ? </p>
                              </div>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                              <img ng-src="img/icons/eventIcon.png" class="md-avatar" alt="Date" />
                              <div class="md-list-item-text">
                                <h3>Du <strong>{{vm.formatDateTime(vm.event.dateDebut)}}</strong> au <strong>{{vm.formatDateTime(vm.event.dateFin)}}</strong></h3>
                                <p> Quand nous retrouvons-nous ? </p>
                              </div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex="50" flex-xs="100">
                        <md-list class="md-dense" flex>
                            <md-list-item class="md-2-line">
                              <img ng-src="img/icons/capacityIcon.png" class="md-avatar" alt="Capacité" />
                              <div class="md-list-item-text">
                                <h3>{{vm.event.capacity}} <em>({{vm.event.capacity-vm.participants.length}} places encore disponibles)</em></h3>
                                <p> Combien de personnes peuvent être accueillies ? </p>
                              </div>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                              <img ng-src="img/icons/openIcon.png" ng-show="vm.event.public === 1" class="md-avatar" alt="Public" />
                              <img ng-src="img/icons/privateIcon.png" ng-show="vm.event.public === 0" class="md-avatar" alt="Privé" />
                              <div class="md-list-item-text">
                                <h3><span ng-show="vm.event.public === 1" md-colors="{color: 'teal'}">Cet événement est accessible à tous.</span><span ng-show="vm.event.public === 0" md-colors="{color: 'deep-orange'}">Cet événement est privé.</span></h3>
                                <p> Cet événement est-il public ? </p>
                              </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line">
                        <img ng-src="img/icons/timeIcon.png" class="md-avatar" alt="Temps" />
                        <div class="md-list-item-text">
                            <h3>
                                <span ng-if="vm.enoughTime() === true" md-colors="{color: 'teal'}">
                                    Le temps de trajet est estimé à <strong>{{vm.directions.legs[0].duration.text}}</strong> pour vous rendre sur place. Il est encore temps !
                                </span>
                                <span ng-if="vm.enoughTime() === false" md-colors="{color: 'red'}">
                                    Le temps de trajet est estimé à <strong>{{vm.directions.legs[0].duration.text}}</strong> pour vous rendre sur place. Vous n'avez plus le temps.
                                </span>
                            </h3>
                            <p> Est-il trop tard pour participer ? </p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
                <h2>Informations sur le lieu</h2>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line">
                      <img ng-src="img/icons/addressIcon.png" class="md-avatar" alt="Adresse" />
                      <div class="md-list-item-text">
                        <h3> {{vm.place.formatted_address}} </h3>
                        <p> Adresse complète </p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <img ng-src="img/icons/phoneIcon.png" class="md-avatar" alt="Téléphone" />
                      <div class="md-list-item-text">
                        <h3> {{vm.place.formatted_phone_number}} </h3>
                        <p> Téléphone du lieu </p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <img ng-src="img/icons/websiteIcon.png" class="md-avatar" alt="Site web" />
                      <div class="md-list-item-text">
                        <h3> <a href="{{vm.place.website}}">{{vm.place.website}}</a> </h3>
                        <p> Site web du lieu </p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <img ng-src="{{vm.place.icon}}" class="md-avatar" alt="Type" />
                      <div class="md-list-item-text">
                        <h3>{{vm.place.types[0] | capitalize}}</h3>  
                        <p> Type de Lieu </p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img ng-show="vm.place.opening_hours.open_now === false" ng-src="img/icons/closedIcon.png" class="md-avatar" alt="Fermé" />
                        <img ng-show="vm.place.opening_hours.open_now === true" ng-src="img/icons/openIcon.png" class="md-avatar" alt="Ouvert" />
                        <div class="md-list-item-text">
                            <h3><span ng-show="vm.place.opening_hours.open_now === true" md-colors="{color: 'teal'}">Actuellement ouvert</span><span ng-show="vm.place.opening_hours.open_now === false" md-colors="{color: 'red'}">Actuellement fermé</span></h3>  
                            <p> Ouvert en ce moment ? </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Description</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    {{vm.event.description}}
                </p>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Commentaires <em ng-show="vm.comments.length > 0">({{vm.comments.length}})</em></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="comment in vm.comments">
                      <img ng-src="img/icons/userIcon.png" class="md-avatar" alt="Icone Utilisateur" />
                      <div class="md-list-item-text" layout="column">
                        <h4>Quentin Claudel</h4>
                        <p>{{ comment.comment }}</p>
                      </div>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
                <h2>Commenter</h2>
                <form>
                    <md-input-container class="md-block">
                      <label>Commentaire</label>
                      <textarea ng-model="commentForm" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <md-button ng-submit="comment()" class="md-raised md-primary">Commenter !</md-button>
                </form>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <!--Ligne droite-->
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Participants <em ng-show="vm.participants.length > 0">({{vm.participants.length}})</em></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-show="vm.participants.length == 0"><em>Aucun participant pour l'instant.</em></p>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="participant in vm.participants">
                      <img ng-src="img/icons/userIcon.png" class="md-avatar" alt="Icone Utilisateur" />
                      <div class="md-list-item-text" layout="column">
                        <h3>{{ participant.firstName }} {{ participant.name }}</h3>
                        <h4>{{ participant.birthdate | date:'dd/MM/yyyy'}}</h4>
                        <p>{{ participant.description }}</p>
                      </div>
                    </md-list-item>
                </md-list>
                <md-divider ></md-divider>
                <p id="organizerButtons">
                    <md-button ng-if="!vm.userParticipation" ng-click="vm.addParticipation()" class="md-raised md-primary" md-colors="{background: 'green'}">Participer</md-button>
                    <md-button ng-if="vm.userParticipation" ng-click="vm.deleteParticipation()" class="md-raised md-primary" md-colors="{background: 'red'}">Ne plus Participer</md-button>
                </p>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Organisateurs <em>({{vm.organizers.length}})</em></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="organizer in vm.organizers">
                      <img ng-src="img/icons/userIcon.png" class="md-avatar" alt="Icone Utilisateur" />
                      <div class="md-list-item-text" layout="column">
                        <h3>{{ organizer.firstName }} {{ organizer.name }}</h3>
                        <h4>{{ organizer.birthdate | date:'dd/MM/yyyy'}}</h4>
                        <p>{{ organizer.description }}</p>
                      </div>
                    </md-list-item>
                </md-list>
                <md-divider ></md-divider>
                <p id="organizerButtons">
                    <md-button class="md-raised md-primary" md-colors="{background: 'blue'}">Ajouter des Organisateurs</md-button>
                </p>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Invités <em>({{vm.invitations.length}})</em></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="invite in vm.invitations">
                      <img ng-src="img/icons/userIcon.png" class="md-avatar" alt="Icone Utilisateur" />
                      <div class="md-list-item-text" layout="column">
                        <h3>{{ invite.firstName }} {{ invite.name }}</h3>
                        <h4>{{ invite.birthdate | date:'dd/MM/yyyy'}}</h4>
                        <p>{{ invite.description }}</p>
                      </div>
                    </md-list-item>
                </md-list>
                <md-divider ></md-divider>
                <p id="organizerButtons">
                    <md-button class="md-raised md-primary" md-colors="{background: 'blue'}">Inviter des Amis</md-button>
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>