<div ng-switch="vm.$state.$current.self.name">
    <div ng-switch-when="app.landing">
        <div class="row">
            <section layout="row" flex>
                <md-sidenav
                        class="md-sidenav-left"
                        md-component-id="left"
                        md-is-locked-open="true"
                        md-whiteframe="4">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Quelques événements</h1>
                    </md-toolbar>
                    <md-content layout-align="center start" class="eventContainer">
                        <md-card class="eventCard" ng-repeat="event in vm.events | orderBy: 'dateDebut.getTime()' ">
                            <md-card-content layout-align="center start">
                                <md-card-header class="headerEvent" layout="row" layout-align="start start">
                                    <date date="{{event.dateDString}}" class="dateIcon" layout-align="start start"></date>
                                    <h3 class="md-title eventTitle" layout-align="start start">{{event.title}}</h3>
                                </md-card-header>
                                <div ng-if="event.sameDay">
                                    <p class="date">Le {{event.dateDebut.toLocaleDateString()}} </br>
                                    De {{event.dateDebut.toLocaleTimeString()}} à {{event.dateFin.toLocaleTimeString()}}</p>
                                </div>
                                <div ng-if="!event.sameDay">
                                    <p class="date">Du {{event.dateDebut.toLocaleString()}} </br>
                                    au {{event.dateFin.toLocaleString()}}</p>
                                </div>
                                <p>{{event.description}}</p>
                                <p class="category"><strong>Catégorie :</strong> {{event.category.title}}</p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="center center">
                               <md-button md-colors="{background: 'blue'}" ng-click="vm.seeEvent(event.id)">Voir l'événément</md-button>
                               <md-button md-colors="{background: 'green'}" ng-click="vm.centerMapOnEvent(event)">Voir sur la carte</md-button>
                            </md-card-actions>
                        </md-card>
                    </md-content>
                </md-sidenav>
                <md-content flex layout-padding class="mapContener">
                    <div class="mapContent" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAFosuj-n-qIEM_BRqt2JX-YIhfno9138k">
                        <ng-map style="height: 800px" zoom="{{vm.zoom}}" center="[{{vm.location.lat}}, {{vm.location.lng}}]" >
                            <marker ng-repeat="event in vm.events" position="{{event.lat}}, {{event.lng}}" animation="{{event.animation}}" title="{{event.title}}" on-click="vm.details({{event}})"> </marker>
                        </ng-map>
                    </div>
                </md-content>
            </section>
        </div>
    </div>
</div>