<md-input-container class="md-icon-float md-block">
    <!-- Use floating label instead of placeholder -->

    <h1>Rechercher un lieu</h1>

    <input g-places-autocomplete ng-model="vm.place" type="text">
</md-input-container>


<h5>Result:</h5>
<pre>{{vm.place}}</pre>

<md-content class="md-padding" layout-xs="column" layout="row">

    <md-button ng-click="vm.event_create()" md-no-ink class="md-primary">Créer un évènement</md-button>

    <div flex-xs flex-gt-xs="50" layout="column">


        <div ng-repeat="event in vm.events ">
            <md-card>
                <img ng-src="" class="md-card-image" alt="Image ou Map">
                <div id="map"></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ event.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>

                    </md-card-icon-actions>
                    <md-button md-no-ink class="md-primary">Voir</md-button>
                    <md-button ng-click="vm.participate(event.id)">Participer</md-button>
                </md-card-actions>
                <md-card-content>
                    <p>
                        {{ event.description }}
                    </p>
                </md-card-content>
            </md-card>
        </div>


    </div>




</md-content>