<section layout="row" class="icondemoFontIconsWithLigatures" ng-cloak>

    <div flex="30" layout="column" class="boxWithHeight" layout-padding>
        <section flex="40">

            <md-card>
                <img ng-src="http://www.francetvinfo.fr/image/75e490efj-61bb/260/146/12104700.jpg" class="md-card-image"
                     alt="Washed Out">

                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <h2> {{vm.user.firstName}} {{vm.user.name}} </h2>
                    </md-card-icon-actions>
                    <md-button>
                        <md-icon> favorite</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon>settings</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon>share</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>

            <section flex>
                <div class="descr_container">
                    <md-toolbar class="md-accent" md-colors="{background: 'light-blue'}">
                        <div class="md-toolbar-tools">
                            <md-icon>accessibility</md-icon>
                            <h2> Description :</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <p class="left_padding">
                        {{vm.user.description}}
                    </p>
                </div>

                <md-list flex class="invitation_container">
                    <md-toolbar class="md-accent" md-colors="{background: 'light-green'}">
                        <div class="md-toolbar-tools">
                            <md-icon>local_post_office</md-icon>
                            <h2> Invitations :</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <md-list-item class="md-3-line" ng-repeat="invitation in vm.invitations" ng-click="null"
                                  ng-if="vm.invitations.length > 0">

                        <div class="md-list-item-text" layout="column">
                            <h3>{{ invitation.title }}</h3>
                            <h4>{{ invitation.date }}</h4>
                            <p>{{ invitation.description }}</p>
                        </div>
                        <md-button class="md-secondary">Respond</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>

                    <md-list-item class="md-3-line" ng-if="vm.invitations.length === 0">
                        <div class="md-list-item-text" layout="column">
                            <h3> Aucune invitation pour le moment</h3>
                        </div>
                    </md-list-item>

                </md-list>
            </section>
        </section>
    </div>
    <div flex layout="column" class="boxWithHeight" layout-padding>

        <section flex="20">
            <h2>Dernier Evénement auquel a participé {{vm.user.name}} {{vm.user.firstName}}: </h2>

            <div ng-if="vm.loadedLastParticipation && vm.lastParticipation">

                <slick infinite="true" slides-to-show="{{vm.nb_carousel_last_participation}}" settings="vm.slickConfig"
                       slides-to-scroll="{{vm.nb_carousel_last_participation}}" dots="true" arrows="true"
                       init-onload="true" data="vm.lastParticipation">
                    <div ng-repeat="event in vm.lastParticipation track by $index">
                        <md-card>
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">{{event.title}}</span>
                                    <span class="md-subhead">{{event.date}}</span>
                                </md-card-header-text>
                            </md-card-header>

                            <div class="md-card-image"
                                 map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAFosuj-n-qIEM_BRqt2JX-YIhfno9138k">
                                <ng-map zoom="11" center="[{{event.location.lat}}, {{event.location.lng}}]">
                                    <marker ng-repeat="p in vm.positions"
                                            position="{{p.pos}}" title="pos: {{p.pos}}"></marker>
                                </ng-map>
                            </div>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Description :</span>
                                    <span class="md-subhead">Nombre de participants: {{event.nbParticipant}}/{{event.capacity}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    {{event.description}}
                                </p>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="start">
                                <md-button md-colors="{background: 'green'}" md-colors-watch="false">Participer
                                </md-button>
                                <md-button md-colors="{background: 'blue'}">Détails</md-button>
                            </md-card-actions>
                        </md-card>

                    </div>
                </slick>
            </div>
        </section>

        <section flex="20">
            <h2>évenement organisé par {{vm.user.name}} {{vm.user.firstName}}: </h2>

            <div ng-if="vm.loadedMyEevent && vm.my_event">

                <slick infinite="true" slides-to-show="{{vm.nb_carousel_last_participation}}"
                       slides-to-scroll="{{vm.nb_carousel_last_participation}}" dots="true" arrows="true"
                       init-onload="true" data="vm.loadedMyEevent">
                    <div ng-repeat="event in vm.my_event track by $index">
                        <md-card>
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">{{event.title}}</span>
                                    <span class="md-subhead">{{event.date}}</span>
                                </md-card-header-text>
                            </md-card-header>

                            <div class="md-card-image"
                                 map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAFosuj-n-qIEM_BRqt2JX-YIhfno9138k">
                                <ng-map zoom="11" center="[{{event.location.lat}}, {{event.location.lng}}]">
                                    <marker ng-repeat="p in vm.positions"
                                            position="{{p.pos}}" title="pos: {{p.pos}}"></marker>
                                    </marker>

                                </ng-map>
                            </div>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Description :</span>
                                    <span class="md-subhead">Nombre de participants: {{event.nbParticipant}}/{{event.capacity}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    {{event.description}}
                                </p>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="start">
                                <md-button md-colors="{background: 'green'}" md-colors-watch="false">Participer
                                </md-button>
                                <md-button md-colors="{background: 'blue'}">Détails</md-button>
                            </md-card-actions>
                        </md-card>

                    </div>
                </slick>
            </div>
        </section>
    </div>

</section>
