<style>body[ng-cloak] {
    display: none;
}

/* Important to set height for column layout */
.boxWithHeight {
    box-sizing: border-box;
    height: 100%;
}

.a, section {
    border: 5px solid rgba(85, 97, 85, 0.27);
    margin: 5px;
}

</style>


<section layout="row" class="icondemoFontIconsWithLigatures" ng-cloak>

    <div flex="30" layout="column" class="boxWithHeight" layout-padding>
        <section flex="40">

            <md-card>
                <img ng-src="http://www.francetvinfo.fr/image/75e490efj-61bb/260/146/12104700.jpg" class="md-card-image"
                     alt="Washed Out">

                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <h2> {{vm.user.firstName}} {{vm.user.name}} </h2>
                    </md-card-icon-actions>
                    <md-button>
                        <md-icon> favorite</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon>settings</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon>share</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>

            <section flex>flex</section>
        </section>
    </div>
    <div flex layout="column" class="boxWithHeight" layout-padding>
        <section flex="70">
            <h2>Description : </h2>
            {{vm.user.description}}
        </section>

        <section flex="20">
            <h2>Derniere Participation: </h2>


            <div ng-if="vm.dataLoaded && vm.lastParticipation">
                <slick infinite="true" slides-to-show="3" slides-to-scroll="3" dots="true" arrows="true"
                       init-onload="true" data="vm.lastParticipation">
                    <div ng-repeat="last in vm.lastParticipation track by $index">
                        {{last}}
                    </div>
                </slick>
            </div>

        </section>
        <section flex>flex</section>
    </div>

</section>
