<section layout="row" class="icondemoFontIconsWithLigatures" ng-cloak>

    <div flex="30" layout="column" class="boxWithHeight" layout-padding>
        <section flex="40">

            <md-card class="md-whiteframe-5dp">
                <img ng-src="https://www.latoilescoute.net/IMG/arton2296.jpg" class="md-card-image"
                     alt="Washed Out">

                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <h2> {{vm.user.firstName}} {{vm.user.name}} </h2>
                    </md-card-icon-actions>
                    <md-button>
                        <md-icon> favorite</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon ng-if="vm.me">settings</md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon>share</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>

            <section flex>
                <div class="descr_container">
                    <md-toolbar class="md-accent" md-colors="{background: 'light-blue'}">
                        <div class="md-toolbar-tools">
                            <md-icon>accessibility</md-icon>
                            <h2 class="title_white_with_icon"> Description </h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <p class="left_padding">
                        {{vm.user.description}}
                    </p>
                </div>

                <md-list flex class="invitation_container" ng-if="vm.me">
                    <md-toolbar class="md-accent" md-colors="{background: 'light-green'}">
                        <div class="md-toolbar-tools">
                            <md-icon>local_post_office</md-icon>
                            <h2 class="title_white_with_icon"> Invitations </h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <md-list-item class="md-3-line" ng-repeat="invitation in vm.invitations" ng-click="null"
                                  ng-if="vm.invitations.length > 0">

                        <div class="md-list-item-text" layout="column">
                            <h3>{{ invitation.title }}</h3>
                            <h4>{{ invitation.date }}</h4>
                            <p>{{ invitation.description }}</p>
                        </div>
                        <md-button class="md-secondary">Respond</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>

                    <md-list-item class="md-3-line" ng-if="vm.invitations.length === 0">
                        <div class="md-list-item-text" layout="column">
                            <h3> Aucune invitation pour le moment</h3>
                        </div>
                    </md-list-item>

                </md-list>
            </section>
        </section>
    </div>
    <div flex layout="column" class="boxWithHeight" layout-padding>
        <h3 class="md-display-2  user_section_title">
            Derniers événements auxquels a participé {{vm.user.name}} {{vm.user.firstName}}
        </h3>
        <md-divider></md-divider>

        <div flex layout="row" class="boxWithHeight" layout-align='center center'>
            <md-button class="md-icon-button  " id="prev" flex="10">
                <md-icon class="material-icons-md-36">keyboard_arrow_left</md-icon>
            </md-button>
            <section flex="80">


                <div ng-if="vm.loadedLastParticipation && vm.lastParticipation.length === 0" class="section_top_margin">
                    {{vm.user.name}} {{vm.user.firstName}} n'as participé a aucun événement pour le moment
                </div>

                <div ng-if="vm.loadedLastParticipation && vm.lastParticipation" class="section_top_margin">

                    <slick infinite="true" slides-to-show="{{vm.nb_carousel_last_participation}}"
                           settings="vm.slickConfig"
                           prev-arrow="#prev" next-arrow="#next"
                           init-onload="true" data="vm.lastParticipation">
                        <div ng-repeat="event in vm.lastParticipation track by $index">
                            <md-card class="md-whiteframe-5dp">
                                <md-card-header>
                                    <md-card-header-text>
                                        <span class="md-title">{{event.title}}</span>
                                        <span class="md-subhead">{{event.date}}</span>
                                    </md-card-header-text>
                                </md-card-header>

                                <div class="md-card-image"
                                     map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyDOoKSyoh_Lwe1r18KOVWhjbAHzsidDM00">
                                    <ng-map zoom="11" center="[{{event.location.lat}}, {{event.location.lng}}]">
                                        <marker position="{{event.positions}}" title="pos: {{p.pos}}"></marker>
                                    </ng-map>
                                </div>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-subhead">Nombre de participants: {{event.nbParticipant}}/{{event.capacity}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        {{event.description}}
                                    </p>
                                </md-card-content>
                                <md-card-actions layout="column" layout-align="start">
                                    <!-- <md-button md-colors="{background: 'green'}" md-colors-watch="false">Participer
                                     </md-button>-->
                                    <md-button md-colors="{background: 'green'}" ng-click="vm.event_details(event.id)">
                                        Détails
                                    </md-button>
                                </md-card-actions>
                            </md-card>

                        </div>

                    </slick>

                </div>

            </section>

            <md-button class="md-icon-button  " id="next" flex="10">
                <md-icon class="material-icons-md-36">keyboard_arrow_right</md-icon>
            </md-button>
        </div>

        <h3 class="md-display-2 user_section_title ">
            Derniers événements organisés par {{vm.user.name}} {{vm.user.firstName}}
        </h3>
        <md-divider></md-divider>

        <div flex layout="row" class="boxWithHeight" layout-align='center center'>
            <md-button class="md-icon-button" id="prev2" flex="10">
                <md-icon class="material-icons-md-36">keyboard_arrow_left</md-icon>
            </md-button>
            <section flex="80">

                <div ng-if="vm.loadedMyEevent && vm.my_event === 0">
                    {{vm.user.name}} {{vm.user.firstName}} n'as participé a aucun événement pour le moment
                </div>


                <div ng-if="vm.loadedMyEevent && vm.my_event">

                    <slick infinite="true" init-onload="true" data="vm.loadedMyEevent" settings="vm.slickConfig"
                           prev-arrow="#prev2" next-arrow="#next2">
                        <div ng-repeat="event in vm.my_event track by $index">
                            <md-card class="md-whiteframe-3dp"
                            ">
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">{{event.title}}</span>
                                    <span class="md-subhead">{{event.date}}</span>
                                </md-card-header-text>
                            </md-card-header>


                            <div class="md-card-image"
                                 map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAFosuj-n-qIEM_BRqt2JX-YIhfno9138k">
                                <ng-map zoom="11" center="[{{event.location.lat}}, {{event.location.lng}}]">
                                    <marker position="{{event.positions}}" title="pos: {{p.pos}}"></marker>
                                </ng-map>
                            </div>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-subhead">Nombre de participants: {{event.nbParticipant}}/{{event.capacity}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    {{event.description}}
                                </p>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="start">
                                <!-- <md-button md-colors="{background: 'green'}" md-colors-watch="false">Participer
                                     </md-button>-->
                                <md-button md-colors="{background: 'green'}" ng-click="vm.event_details(event.id)">
                                    Détails
                                </md-button>
                            </md-card-actions>
                            </md-card>

                        </div>
                    </slick>
                </div>
            </section>
            <md-button class="md-icon-button  " id="next2" flex="10">
                <md-icon class="material-icons-md-36">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>

</section>
