<form ng-submit="event.submit()" enctype="multipart/form-data" name="eventForm">

    <div>
        <md-input-container>
            <label>Nom de l'événement</label>
            <input type="text" ng-model="event.title" required>
        </md-input-container>
    </div>

    <div>
        <span>
            <md-input-container class="dateInput">
                <label>Début</label>
                <md-datepicker ng-model="event.dateDebut" md-placeholder="dd/mm/yyyy" md-open-on-focus required></md-datepicker>
            </md-input-container>
        </span>
        <span class="time">
            <md-input-container class="timeInput">
              <md-select ng-model="event.heureDebut" placeholder="Heure" required>
                <md-option ng-value="opt" ng-repeat="opt in event.range(24)">{{ opt }}</md-option>
              </md-select>
            </md-input-container>
        </span>
        <span class="time">
            <md-input-container class="timeInput">
              <md-select ng-model="event.minuteDebut" placeholder="Minutes" required>
                <md-option ng-value="opt" ng-repeat="opt in event.range(60)">{{ opt }}</md-option>
              </md-select>
            </md-input-container>
        </span>
    </div>

    <div>
        <span>
            <md-input-container class="dateInput">
                <label>Fin</label>
                <md-datepicker ng-model="event.dateFin" md-placeholder="dd/mm/yyyy" md-open-on-focus></md-datepicker>
            </md-input-container>
        </span>
        <span class="time">
            <md-input-container class="timeInput">
                <md-select ng-model="event.heureFin" placeholder="Heure">
                    <md-option ng-value="opt" ng-repeat="opt in event.range(24)">{{ opt }}</md-option>
                </md-select>
            </md-input-container>
        </span class="time">
        <span>
            <md-input-container class="timeInput">
                <md-select ng-model="event.minuteFin" placeholder="Minutes">
                    <md-option ng-value="opt" ng-repeat="opt in event.range(60)">{{ opt }}</md-option>
                </md-select>
            </md-input-container>
        </span>
    </div>
    

    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Capacité d'accueil (en nombre de personnes)</label>
            <input name="capacity" type="number" ng-model="event.capacity" placeholder="Capacité d'accueil" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="event.description" md-maxlength="15000" minlength="15" rows="5" md-select-on-focus required></textarea>
        </md-input-container>
    </div>

    <div>
        <md-input-container>
            <label>Catégorie</label>
            <md-select ng-model="event.category_picked" required>
                <md-option ng-value="category.id" ng-repeat="category in event.categories">{{category.title}}</md-option>
            </md-select>
        </md-input-container> 
    </div>

    <div>
        <md-input-container class="md-icon-float md-block">
            <label>Définissez un lieu</label>
            <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAFosuj-n-qIEM_BRqt2JX-YIhfno9138k&libraries=places">
                <input places-auto-complete placeholder=""  on-place-changed="event.placeChanged()" size=40 required/> <br/>
            </div>
        </md-input-container>
    </div>

    <div>
        <md-input-container>
            <md-checkbox aria-label="Public" ng-model="event.public" class="md-primary">
                Public
            </md-checkbox>
        </md-input-container>
    </div>

    <md-button type="submit" class="md-primary md-raised">Créer l'événement</md-button>
</form>