<form ng-submit="vm.submit()" enctype="multipart/form-data" name="eventForm">

    <div>
        <md-input-container>
            <label>title</label>
            <input type="text" ng-model="event.title">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="event.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Max people</label>
            <input name="capacity" ng-model="event.capacity" placeholder="123" md-maxlength="5">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Date</label>
            <md-datepicker ng-model="event.date" md-placeholder="dd/mm/yyyy" md-open-on-focus></md-datepicker>
        </md-input-container>
    </div>

    <div flex-gt-sm="50">
        <md-checkbox aria-label="Public" ng-model="event.public" class="md-primary">
        </md-checkbox>
    </div>


    <div>
        <md-input-container>
            <label>Category</label>
            <md-select ng-model="event.idCategorie" md-selected-text="getSelectedText()">
                <md-optgroup label="Category">
                    <md-option ng-value="category" ng-repeat="category in event.categories">Item {{category}}
                    </md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>

    <div>
        <md-input-container>
            <label>placeId</label>
            <md-select ng-model="event.placeId" md-selected-text="getSelectedText()">
                <md-optgroup label="Category">
                    <md-option ng-value="place" ng-repeat="place in event.places">Item {{place}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>

    <div>
        <md-input-container>
            <label>Link to another event :</label>
            <input ng-model="event.idParent" type="text">
        </md-input-container>
    </div>

    <md-button type="submit" class="md-primary md-raised">Create post</md-button>

</form>