<form ng-submit="vm.register()">

    

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Nom</label>
            <input type="text" ng-model="vm.name">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Prénom</label>
            <input type="text" ng-model="vm.firstName">
        </md-input-container>
    </div>


    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Adresse mail</label>
            <input type="email" ng-model="vm.email">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Mot de passe</label>
            <input type="password" ng-model="vm.password">
        </md-input-container>
    </div>

    <md-button type="submit" class="RegisterForm-submit md-primary md-raised">S'inscrire</md-button>
</form>
