<form ng-submit="vm.register()">

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Birthday</label>
            <md-datepicker ng-model="vm.birthdate"  md-current-view="year"  md-placeholder="dd/mm/yyyy"></md-datepicker>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Name</label>
            <input type="text" ng-model="vm.name">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>firstName</label>
            <input type="text" ng-model="vm.firstName">
        </md-input-container>
    </div>


    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Email</label>
            <input type="email" ng-model="vm.email">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="RegisterForm-inputContainer">
            <label>Password</label>
            <input type="password" ng-model="vm.password">
        </md-input-container>
    </div>

    <md-button type="submit" class="RegisterForm-submit md-primary md-raised">Register</md-button>
</form>
