<div layout="column" layout-gt-sm="row" class="layout-gt-sm-row layout-column" ng-show="!presentationHome.isConnected()">
    <div flex="50" class="Landing-laravel layout-align-center-center flex-50 white_background" layout-align="center center">
        <h2 class="md-display-2 Landing-laravelAngular-title">Qu'est-ce que OpenEvent ?</h2>
        <div class="md-title Landing-laravelAngular-subtitle">
            OpenEvent est une application web permettant de faire découvrir aux utilisateurs les événements organisés
            aux
            alentours de chez eux. L’objectif est de mettre en pratique les notions étudiées en cours dans le cadre d’un
            projet concret tout en explorant les possibilités offertes par d’autres outils. Ainsi, les fonctionnalités
            liées
            à la localisation pourront nous permettre de découvrir l’utilisation d’API telle que celle de Google Maps ou
            encore l’exploitation de données accessibles librement proposée par certaines grandes agglomérations (comme
            le
            portail OpenData du Grand Nancy).
        </div>
        <br>
    </div>
    <div flex="50" class="Landing-angular layout-align-center-center flex-50 white_background" layout-align="center center" >
        <h2 class="md-display-2 Landing-laravelAngular-title">Qui sommes-nous ?</h2>
        <div class="md-title Landing-laravelAngular-subtitle">Nous sommes un groupe d'etudiant de l'IUT de Nancy
            Charlemagne en Licencepro CISII (Concepteur Intégrateur de Systèmes Internet/Intranet pour l'Entreprise)
        </div>
        <br>
    </div>
</div>